<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/static/admin/images/icon/icon.png">
<link rel="shortcut icon" href="/static/admin/images/icon/favicon.ico">
<script src="/static/admin/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    {block name="header"}
        
    {/block}
    {block name="bodyer"}
        
    {/block}
</body>
</html>