<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="index"><a href="/admin_index">报告</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="blog"><a href="/a_blog">文章</a></li>
    <li class="notice"><a href="/admin_notice">公告</a></li>
    <li class="comments"><a href="/admin_comments">评论</a></li>
    <li><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="category"><a href="/a_category">栏目</a></li>
    <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
      <ul class="dropdown-menu" aria-labelledby="otherMenu">
        <li><a href="/static/admin/flink.html">友情链接</a></li>
        <li><a href="/static/admin/loginlog.html">访问记录</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
      <ul class="dropdown-menu" aria-labelledby="userMenu">
        <li><a href="/static/admin/#">管理用户组</a></li>
        <li><a href="/static/admin/manage-user.html">管理用户</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/static/admin/loginlog.html">管理登录日志</a></li>
      </ul>
    </li>
    <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
      <ul class="dropdown-menu" aria-labelledby="settingMenu">
        <li><a href="/static/admin/setting.html">基本设置</a></li>
        <li><a href="/static/admin/readset.html">用户设置</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/static/admin/#">安全配置</a></li>
        <li role="separator" class="divider"></li>
        <li class="disabled"><a>扩展菜单</a></li>
      </ul>
    </li>
  </ul>
</aside>
<script>
  var url = document.location.pathname
  if (url == '/admin_index') {
    $(".index").addClass('active')
  } else if (url == '/admin_notice') {
    $(".notice").addClass('active')
  } else if (url == '/admin_blog') {
    $('.blog').addClass('active')
  } else if (url == '/admin_comments') {
    $('.comments').addClass('active')
  } else if (url == '/admin_category') {
    $('.category').addClass('active')
  }
 

</script>